{% extends "home.html" %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block sidenav %}
    {% for page in page_list %}
        <li><a href="{{ page.permalink }}">{{ page.title }}</a></li>
    {% endfor %}
{% endblock sidenav %}

{% block main_content %}
    {% if pagename == 'Home' %}
        <h1>Welcome to our Fitness Website!</h1>
        <p>We are Group 140 and our names are Sarah, Mahek and A'Yanna.</p>
        <p>We are all fitness enthusiasts and love to workout. We made this website in order for us to showcase our knowledge and experience to others who are on their journey to getting healthier and fitter.</p>
        <p>Mahek plays competitive squash at a international level and has lots of experience with core, lower and upper body workouts, and cardio.</p>
        <p>A'Yanna plays basketball and has danced all her life so she has experience in cardio, core, and technqiue.</p>
        <p>Sarah plays golf and she has lots of experience in perfecting form and lots of core strength.</p>
        <p>With all of our combined knowledge and experience we hope this interactive website will help you achieve all your fitness and health goals and aspirations!</p>
		<li>Daisy Keech Ab Work Out (10 mins)</li>
		<p></p>
		<iframe width="420" height="345" 
		src="https://www.youtube.com/embed/5cWxgnJgHHs">
		</iframe>
		<p></p>
		<li>Chloe Ting Ab Work Out (10 mins)</li>
		<iframe width="420" height="345" 
		src="https://www.youtube.com/embed/85ici-FoXcY">
		</iframe>
		<p></p>
		<li>Alexis Ren Ab Work Out (10 mins)</li>
		<iframe width="420" height="345" 
		src="https://www.youtube.com/embed/ad4zfM2ioD8">
		</iframe>
		<p></p>
		<li>Mad Fit Ab Work Out (10 mins)</li>
		<iframe width="420" height="345" 
		src="https://www.youtube.com/embed/Dl8N_8UtWUU">
		</iframe>
		<p></p>
		<strong>For Upper Body:</strong>
		<li>Caroline Girvan Dumbbell Upperbody Work Out (14 mins)</li>
		<p></p>
		<iframe width="420" height="345" 
		src="https://www.youtube.com/embed/Mx9RrNZv2TI">
		</iframe>
		<p></p>
		<li>MadFit Upperbody Work Out (15 mins)</li>
		<iframe width="420" height="345" 
		src="https://www.youtube.com/embed/ESkI_WR1qqc">
		</iframe>
		<p></p>
		<li>Gainsbybrains Upperbody Without Equipment Work Out (15 mins)</li>
		<iframe width="420" height="345" 
		src="https://www.youtube.com/embed/nBLl4U1ZfbE">
		</iframe>
		<p></p>
		<li>Lily Sabri Toned Arms Upperbody Work Out (9 mins)</li>
		<iframe width="420" height="345" 
		src="https://www.youtube.com/embed/o3Ubts364dk">
		</iframe>
		<p></p>
		<strong>For Lower Body:</strong>
		<li>Caroline Girvan Lowerbody Work Out (40 mins)</li>
		<p></p>
		<iframe width="420" height="345" 
		src="https://www.youtube.com/embed/UEWEYeJGkLM">
		</iframe>
		<p></p>
		<li>Growing Gannanas Lean Legs and Round Butt Work Out (30 mins)</li>
		<iframe width="420" height="345" 
		src="https://www.youtube.com/embed/fONnuYT9Z44">
		</iframe>
		<p></p>
		<li>MadFit Lowerbody Work Out (15 mins)</li>
		<iframe width="420" height="345" 
		src="https://www.youtube.com/embed/1IQGtcv3eRY">
		</iframe>
		<p></p>
		<li>Lily Sabri Pilates Lowerbody Work Out (15 mins)</li>
		<iframe width="420" height="345" 
		src="https://www.youtube.com/embed/gUGu-ZnIQEE">
		</iframe>
		
    {% elif pagename == 'Core' %}
        <h1>Core Workout Routine</h1>
        <h2>Warm-up:</h2>
        <p>5-10 minutes of light cardio (jumping jacks, jogging in place, or brisk walking)</p>

        <h2>Core Workout Routine:</h2>
        <ul>
            <li><strong>Plank:</strong> Hold for 30 seconds to 1 minute</li>
            <p>To perform a basic forearm plank, start by lying face down on the floor or a yoga mat, placing your forearms on the ground with elbows aligned below your shoulders and arms parallel to each other, about shoulder-width apart. Engage your core by pulling your belly button towards your spine, then push off the floor, raising up onto your toes and resting on your forearms, ensuring your body forms a straight line from head to heels without letting your hips sag or pike up, and maintain a neutral gaze.</p>
            <p>A plank primarily targets the core muscles, which include the rectus abdominis (front abs), transverse abdominis (deep core muscles), and the internal and external obliques (side of the torso). In addition to the core, planks also engage several other muscle groups throughout the body, making it a comprehensive exercise. Best for people who want toned and lean stomachs.</p>
			<p>Below is a youtube video showcasing the workout:</p>
			<iframe width="420" height="345" 
			src="https://www.youtube.com/embed/pvIjsG5Svck">
			</iframe>
            <li><strong>Russian Twists:</strong> 20 reps (10 twists on each side)</li>
            <p>To perform a Russian twist, sit on the floor with your knees bent and feet flat, leaning back slightly to create a V-shape with your torso and thighs. Hold your hands together in front of your chest, or for added intensity, hold a weight. Engage your core and lift your feet slightly off the ground, if possible, to balance on your sit bones. Twist your torso to the right, bringing your hands or the weight towards the floor beside you, then twist to the left, engaging your abdominal and oblique muscles with each rotation. Keep your movements controlled and steady, and continue alternating sides for the desired number of repetitions.</p>
            <p>Russian twists primarily target the abdominal muscles, focusing on the obliques, which are the muscles on the sides of your abdomen, but they also engage the rectus abdominis (the front part of your abs) and the transverse abdominis (the deepest layer of abdominal muscles). Additionally, this exercise works the lower back, shoulders, and hip flexors, providing a comprehensive workout that improves core strength and rotational mobility. Best for people who want an hourglass body shape.</p>
            <p>Below is a youtube video showcasing the workout:</p>
			<iframe width="420" height="345"
			src="https://www.youtube.com/embed/NeAtimSCxsY">
			</iframe>
			<li><strong>Leg Raises:</strong> 15 reps</li>
            <p>To perform a leg raise, lie flat on your back on the floor or a mat with your legs straight out in front of you and your arms at your sides, palms down for stability. Engage your core by pressing your lower back into the floor, then slowly lift your legs off the ground to a 90-degree angle, keeping them straight and together. Pause briefly at the top, then slowly lower your legs back down without letting them touch the floor for the full set, maintaining control and keeping your abdominal muscles engaged throughout the movement.</p>
            <p>Leg raises primarily target the lower abdominal muscles, specifically the rectus abdominis, while also engaging the hip flexors and, to a lesser extent, the obliques, offering a focused workout that strengthens and tones the lower core, improves core stability, and enhances overall abdominal muscle definition. Best for people who want lean and muscular abs and stomach.</p>
            <p>Below is a youtube video showcasing the workout:</p>
			<iframe width="420" height="345" 
			src="https://www.youtube.com/embed/drEiYK2li9Q">
			</iframe>
			<li><strong>Bicycle Crunches:</strong> 20 reps (10 crunches on each side)</li>
            <p>To perform bicycle crunches, lie on your back with your knees bent and feet lifted off the ground, placing your hands behind your head without interlocking your fingers. Engage your core and lift your shoulder blades off the ground, then twist your body to bring your right elbow towards your left knee while straightening your right leg. Switch sides by bringing your left elbow towards your right knee while simultaneously straightening your left leg, mimicking a pedaling motion. Continue alternating sides in a fluid, controlled manner, ensuring you fully extend each leg and maintain a steady pace to effectively engage your abdominal and oblique muscles.</p>
            <p>Bicycle crunches target the rectus abdominis, the main abdominal muscle, and are especially effective at engaging the obliques, the muscles on the sides of the abdomen, providing a comprehensive core workout that also involves the hip flexors and promotes improved balance, coordination, and flexibility. Best for people who want an hourglass body look.</p>
            <p>Below is a youtube video showcasing the workout:</p>
			<iframe width="420" height="345" 
			src="https://www.youtube.com/embed/1we3bh9uhqY">
			</iframe>
			<li><strong>Mountain Climbers:</strong> 30 seconds</li>
            <p>To perform mountain climbers, start in a high plank position with your hands placed directly under your shoulders, your body in a straight line from head to heels, and your feet together. Engage your core, then quickly draw your right knee towards your chest without lifting your hips too high. Quickly switch legs, extending your right leg back to the starting position while simultaneously drawing your left knee towards your chest. Continue alternating legs at a rapid pace, maintaining a strong plank position with your back flat and hips level throughout the exercise to effectively engage your core, shoulders, and legs.</p>
            <p>Mountain climbers target multiple muscle groups, including the core muscles for stabilization, specifically engaging the rectus abdominis and obliques, while also working the deltoids, chest, and triceps for upper body strength, the quads in the legs, and the hamstrings for dynamic movement, making it an effective full-body workout that improves cardiovascular fitness, agility, and muscular endurance. Best for people who want a lean body figure.</p>
            <p>Below is a youtube video showcasing the workout:</p>
			<iframe width="420" height="345" 
			src="https://www.youtube.com/embed/nmwgirgXLYM">
			</iframe>
			<li><strong>Side Plank:</strong> Hold for 30 seconds to 1 minute on each side</li>
			<p>To perform a side plank, start by lying on your side with your legs straight and feet stacked. Place your elbow directly under your shoulder to prop up your upper body, with your forearm perpendicular to your body on the ground for stability. Engage your core and lift your hips off the ground, forming a straight line from your head to your feet. Keep your other hand on your hip or extend it towards the ceiling for balance. Hold this position, keeping your hips elevated and your body in a straight line, then switch sides and repeat the exercise to ensure balanced strength and muscle engagement on both sides of your body.</p>
			<p>Side planks primarily target the oblique muscles on the sides of the abdomen, offering a focused workout that strengthens and tones these areas, but they also engage the entire core including the rectus abdominis and transverse abdominis, as well as the shoulders, glutes, and hips, promoting improved core stability, balance, and posture. Best for people who want an hourglass and lean figure.</p>
            <p>Below is a youtube video showcasing the workout:</p>
			<iframe width="420" height="345" 
			src="https://www.youtube.com/embed/Om3M4ezJvSM">
			</iframe>
			<li><strong>Dead Bug:</strong> 15 reps (alternating sides)</li>
			<p>To perform the dead bug exercise, start by lying flat on your back on the floor or a mat, with your arms extended straight up towards the ceiling directly above your shoulders, and your legs raised with your knees bent at a 90-degree angle above your hips. Engage your core by pressing your lower back into the floor to eliminate any gap. Simultaneously lower your right arm behind your head and extend your left leg straight out, just above the floor, ensuring your lower back remains in contact with the floor throughout the movement. Return to the starting position and repeat the movement with the opposite arm and leg, alternating sides in a controlled manner to maintain core engagement and coordination throughout the exercise.</p>
			<p>The dead bug exercise targets the core muscles, specifically focusing on the rectus abdominis, transverse abdominis, and the obliques, enhancing core stability, coordination, and strength, while also engaging the hip flexors and providing a gentle workout for the arms and legs, making it an effective exercise for improving overall core function and reducing the risk of back pain.</p>
            <p>Below is a youtube video showcasing the workout:</p>
			<iframe width="420" height="345" 
			src="https://www.youtube.com/embed/g_BYB0R-4Ws">
			</iframe>
			<li><strong>Superman Exercise:</strong> 15 reps</li>
			<p>To perform the Superman exercise, start by lying face down on the floor or a mat with your arms extended in front of you and your legs straight out behind you. Engage your core and glutes, then simultaneously lift your arms, chest, and legs off the floor as high as comfortably possible, keeping your neck neutral and gaze down to avoid straining. Hold this lifted position for a few seconds, feeling the engagement in your lower back, glutes, and upper back, then slowly lower back down to the starting position. Repeat the movement for the desired number of repetitions, ensuring to keep the movements controlled and deliberate to maximize the engagement of the targeted muscle groups.</p>
			<p>The Superman exercise targets the muscles in the lower back, specifically the erector spinae, along with engaging the glutes, hamstrings, shoulders, and upper back muscles, providing a comprehensive workout that strengthens the back, improves posture, and enhances spinal stability, making it beneficial for overall back health and function.</p>
			<p>Below is a youtube video showcasing the workout:</p>
			<iframe width="420" height="345" 
			src="https://www.youtube.com/embed/J9zXkxUAfUA">
			</iframe>
		</ul>
        <h2>Cool Down:</h2>
        <p>5-10 minutes of stretching, focusing on the core muscles (cobra stretch, child's pose, and torso twists)</p>
		<li><strong>Cobra Stretch:</strong> The Cobra stretch is a gentle yet effective yoga pose where you lie face down on the floor, then press your palms into the mat beneath your shoulders and slowly lift your chest up, arching your back and tilting your head back. This stretch targets the muscles in the chest, shoulders, and abdominal region, promoting flexibility in the spine, strengthening the back muscles, and helping to relieve tension in the lower back.</li>
		<p>Below is a youtube video showcasing the workout:</p>
		<iframe width="420" height="345" 
		src="https://www.youtube.com/embed/Nd3j6Avtv6Q">
		</iframe>
		<li><strong>Child's Pose:</strong> The Child's Pose is a restorative yoga posture where you kneel on the floor with your toes together, knees hip-width apart, then sit back on your heels and fold forward, extending your arms out in front of you on the floor. This pose gently stretches the hips, thighs, and ankles while relaxing the muscles on the spine, shoulders, and neck, providing a sense of relaxation and stress relief, making it an ideal pose for resting and rejuvenating the body and mind.</li>
		<p>Below is a youtube video showcasing the workout:</p>
		<iframe width="420" height="345" 
		src="https://www.youtube.com/embed/nMp3MlTz9fA">
		</iframe>
		<li><strong>Torso Twists:</strong> Torso twists are a stretching exercise where you sit or stand with your feet shoulder-width apart and rotate your upper body to one side, then to the other, while keeping your hips and legs stationary. This movement stretches and strengthens the muscles in the abdomen, back, and obliques, improving flexibility and range of motion in the spine, and can help relieve tension and improve posture.</li>
		<p>Below is a youtube video showcasing the workout:</p>
		<iframe width="420" height="345" 
		src="https://www.youtube.com/embed/-41vf3-1Bqw">
		</iframe>
    {% else %}
        <h1>Welcome to {{ title }}!</h1>
        <p></p>
        {% autoescape off %}
        <p>{{ content }}</p>
        {% endautoescape %}
    {% endif %}
{% endblock main_content %}
